/* Buttons */
.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #795642;
    font-weight: 900;
    background-color: #79564267;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #795642;
}

.btnPrimary {
    background-color: #7956425d;
    border: 3px solid #7956425d;
    z-index: 9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btnPrimary:hover {
    background-color: #795642;
    border-color: #795642;
    color: #fff;
}
.Hi{
    padding: 60px;
}
/* Centering overlay for loading spinner */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.formDisabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Center ForgotPassword section */
.ForgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures full-page centering */
    background-color: #7a665b; /* Subtle light background for contrast */
    padding: 20px;
    color: #795642;
}

.container {
    background-color: #ffffff; /* White background for form */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.stepContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputField{
    height: 20%;
    background-color: #795642;
    padding: 10px;

}